pandas data structures--series and dataframes
Pandas is an open-source library in Python that is made mainly for working with relational or labeled data both easily and intuitively. It provides various data structures and operations for manipulating numerical data and time series. This library is built on top of the NumPy library of Python. Pandas is fast and it has high performance & productivity for users

In [ ]:
import pandas as pd
import pandas as pd

# simple array
data = [1, 2, 3, 4]

ser = pd.Series(data)
print(ser)

In [ ]:
# import pandas as pd
import pandas as pd

# import numpy as np
import numpy as np

# simple array
data = np.array(['g', 'e', 'e', 'k', 's'])

# providing an index
ser = pd.Series(data, index=[10, 11, 12, 13, 14])
print(ser)

In [ ]:
# Calling DataFrame constructor 
df = pd.DataFrame() 
print(df) 

# list of strings 
lst = ['Geeks', 'For', 'Geeks', 'is', 'portal', 'for', 'Geeks'] 
	
# Calling DataFrame constructor on list 
df = pd.DataFrame(lst) 
print(df)

In [ ]:
#creating series from list
l=[1,2,3,4]
ser=pd.Series(l,index=[4,5,6,7])

In [ ]:
#creating series from dictionary
import pandas as pd

# a simple dictionary
dict = {'Geeks': 10,
		'for': 20,
		'geeks': 30}

# create series from dictionary
ser = pd.Series(dict)
# in dictionary we cannot give labels explicitly it can be given with the keys of the dictionary
print(ser)

creating the dataframe in pandas
In the real world, a Pandas DataFrame will be created by loading the datasets from existing storage, storage can be SQL Database, CSV file, and Excel file. Pandas DataFrame can be created from the lists, dictionary, and from a list of dictionary etc.

In [ ]:


# Calling DataFrame constructor
df = pd.DataFrame()

print(df)

In [ ]:
# list of strings
lst = ['Geeks', 'For', 'Geeks', 'is', 'portal', 'for', 'Geeks']

# list of int
lst2 = [11, 22, 33, 44, 55, 66, 77]

# Calling DataFrame constructor after zipping
# both lists, with columns specified
df = pd.DataFrame(list(zip(lst, lst2)),
			columns =['Name', 'val'])
df

In [ ]:
# List1 
lst = [['tom', 25], ['krish', 30],
	['nick', 26], ['juli', 22]]

df = pd.DataFrame(lst, columns =['Name', 'Age'])
df

In [ ]:
#viewing top rows
df=pd.read_csv("titanic_train.csv")
df.head()# by default will return first 5 rows of dataset

In [ ]:
series=df["Name"]
series.head(9)

In [ ]:
#viewing the bottom rows
tail=df.tail()
tail

In [ ]:
percentile=[0.20,0.40,0.60,0.80]
# removing null values to avoid errors
df.dropna(inplace=True)# will be changed in the original dataset
df.describe(percentiles=percentile)

In [ ]:
# initialize a dataframe
data = pd.DataFrame(
	[[1, 2, 3],
	[4, 5, 6],
	[7, 8, 9],
	[10, 11, 12]],
	columns=['a', 'b', 'c'])
display(data)

# convert dataframe to numpy array
arr = data.to_numpy()

print('\nNumpy Array\n----------\n', arr)
print(type(arr))

In [ ]:

# initialize a dataframe
data = pd.DataFrame(
	[[1, 2, 3],
	[4, 5, 6],
	[7, 8, 9],
	[10, 11, 12]],
	columns=['a', 'b', 'c'])

# convert dataframe to numpy array
arr = df[['a', 'c']].to_numpy()

print('\nNumpy Array\n----------\n', arr)
print(type(arr))

In [ ]:
df.info()

In [ ]:
# Define a dictionary containing employee data
data = {'Name':['Jai', 'Princi', 'Gaurav', 'Anuj'],
		'Age':[27, 24, 22, 32],
		'Address':['Delhi', 'Kanpur', 'Allahabad', 'Kannauj'],
		'Qualification':['Msc', 'MA', 'MCA', 'Phd']}

# Convert the dictionary into DataFrame 
df = pd.DataFrame(data)

# select two columns
display(df[['Name', 'Qualification']])

In [ ]:
#Adding a column
# Define a dictionary containing Students data
data = {'Name': ['Jai', 'Princi', 'Gaurav', 'Anuj'],
        'Height': [5.1, 6.2, 5.1, 5.2],
        'Qualification': ['Msc', 'MA', 'Msc', 'Msc']}

# Convert the dictionary into DataFrame
df = pd.DataFrame(data)

# Declare a list that is to be converted into a column
address = ['Delhi', 'Bangalore', 'Chennai', 'Patna']
df["Address"]=address
df

In [ ]:
#selecting the row
df.iloc[5] # df.iloc[] is for integer location only and df[loc] is for string location and for integer

d=data.loc[1:4]
display(d)# will print 1 to 4 index
data.iloc[1:4]# will print 1 to 3 index

In [ ]:
df.iloc[[1,0,4],[1,2]]

#Syntax: DataFrameName.dropna(axis=0, how=’any’, thresh=None, subset=None, inplace=False)
#axis: axis takes int or string value for rows/columns. Input can be 0 or 1 for Integer and ‘index’ or ‘columns’ for String. 
#how: how takes string value of two kinds only (‘any’ or ‘all’). ‘any’ drops the row/column if 
#ANY value is Null and ‘all’ drops only if
#ALL values are null.

In [ ]:
#removig the row with null value
print(len(df))
newdata=df["Cabin"].dropna(axis=0,how='any')#axis=0 checks row-wise if value is null or not then removes that row
print(len(newdata))# to get the number of rows

In [ ]:
#removing the column with all null values
df["NULL_Col"]=None
new=df.dropna(axis=1,how="all") # it removes the column where all values are null
print(df.columns)# before removing the null column
print(new.columns) # after removing the null column
print(len(df.dtypes))# to find number of columns
print(len(new.dtypes))

df.isnull() and df.notnull()

In [ ]:
n_values=df["Cabin"].isnull()
df[n_values]# gives the dataframe with null values of cabin only
n_values.sum() #gives the count of the null values in column cabin