 TUPLE:
 A tuple is a collection of ordered, immutable elements. Tuples are similar to lists, but unlike lists, the elements of a tuple cannot be changed once they are assigned. Tuples are useful for storing related pieces of information that should not be modified.

In [ ]:
# Empty tuple
empty_tuple = ()

# Tuple with elements
sample_tuple = (1, 2, 3)
another_tuple = ('apple', 'banana', 'cherry')

Accessing tuple elements

In [ ]:
sample_tuple = (1, 2, 3)
print(sample_tuple[0])  # Output: 1
print(sample_tuple[1])  # Output: 2

TUPLE UNPACKING

Using asterisk:
If the number of variables is less than the number of values, you can add an * to the variable name and the values will be assigned to the variable as a list

In [1]:
sample_tuple = (1, 2, 3)
a, b, c = sample_tuple
print(a)  # Output: 1
print(b)  # Output: 2
print(c)  # Output: 3

fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")
(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

1
2
3
apple
banana
['cherry', 'strawberry', 'raspberry']

Once a tuple is created, you cannot change its values. Tuples are unchangeable, or immutable as it also is called.
But there is a workaround. You can convert the tuple into a list, change the list, and convert the list back into a tuple.

Add tuple to a tuple. You are allowed to add tuples to tuples, so if you want to add one item, (or many), create a new tuple with the item(s), and add it to the existing tuple:

In [ ]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)
print(x)

thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y
print(thistuple)

In [2]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

TUPLE METHODS:
count(): Returns the number of times a specified value appears in the tuple.
index(): Searches the tuple for a specified value and returns the position of where it was found.

In [ ]:
sample_tuple = (1, 2, 3, 2)
print(sample_tuple.count(2))  # Output: 2
print(sample_tuple.index(3))  # Output: 2

SETS:
Sets are used to store multiple items in a single variable.
A set is a collection which is unique, unordered, unchangeable*, and unindexed.
Set items are unchangeable, but you can remove items and add new items.

In [1]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

thisset = {"apple", "banana", "cherry", True, 1, 2} # true and 1 are considered same

print(thisset)

# set constructor
thisset = set(("apple", "banana", "cherry"))
print(thisset)

{'apple', 'cherry', 'banana'}
{True, 2, 'apple', 'cherry', 'banana'}

ACCESSING SET ITEMS

In [ ]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

ADD ITEMS IN SET
To add one item to a set use the add() method.
To add items from another set into the current set, use the update() method.
The object in the update() method does not have to be a set, it can be any iterable object (tuples, lists, dictionaries etc.).

In [ ]:
thisset = {"apple", "banana", "cherry"}
thisset.add("orange")
print(thisset)

tropical = {"pineapple", "mango", "papaya"}
thisset.update(tropical)
print(thisset)

REMOVE SET ITEMS:
remove() -- If the item to remove does not exist, remove() will raise an error.
discard() --  If the item to remove does not exist, discard() will NOT raise an error.
pop() -- removes any random element and can return that element
clear() -- empties the set
del() -- deletes the set

In [ ]:
thisset = {"apple", "banana", "cherry"}
thisset.remove("banana")
print(thisset)


thisset.discard("banana")
print(thisset)

x = thisset.pop()
print(x)
print(thisset)

thisset = {"apple", "banana", "cherry"}
thisset.clear()
print(thisset)

del thisset
print(thisset)

JOIN SETS:
The union() and update() methods joins all items from both sets ang returns new set.
The union() method allows you to join a set with other data types, like lists or tuples.

The update() changes the original set, and does not return a new set.

The intersection() method keeps ONLY the duplicates.

The difference() method keeps the items from the first set that are not in the other set(s).

The symmetric_difference() method keeps all items EXCEPT the duplicates.
This method will keep only the elements that are NOT present in both sets.

In [ ]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

# join multiple sets
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1.union(set2, set3, set4)
print(myset)

In [ ]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1 | set2  # same as union
print(set3)


set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1 | set2 | set3 |set4
print(myset)

In [ ]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.intersection(set2)
print(set3)

set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 & set2 # same as intersection works for both the sets only but intersection works for other iterables also
print(set3)

The intersection_update() method will also keep ONLY the duplicates, but it will change the original set instead of returning a new set.

In [ ]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.intersection_update(set2)

print(set1)

In [ ]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.difference(set2)

print(set3)

set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 - set2
print(set3)
#The - operator only allows you to join sets with sets, and not with other data types like you can with the difference() method.

In [ ]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.difference_update(set2)

print(set1)

In [ ]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.symmetric_difference(set2)

print(set3)

# can use the ^ operator instead of the symmetric_difference() method, and you will get the same result.
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 ^ set2
print(set3)
#The ^ operator only allows you to join sets with sets, and not with other data types like you can with the symmetric_difference() method.


#The symmetric_difference_update() method will also keep all but the duplicates, but it will change the original set instead of returning a new set.

set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.symmetric_difference_update(set2)

print(set1)